---
interface Props {
  type: string
  linkTitle: string
  linkUrl: string
}

const { type, linkUrl, linkTitle } = Astro.props
---

<li class="mb-4">
  {type}
  <a
    href={linkUrl}
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary"
  >
    {linkTitle}
  </a>
</li>
