---
interface Props {
  title: string
  number: string
}

const { title, number } = Astro.props
---

<li class="mb-6">
  <p class="mb-2">{title}</p>
  <p class="text-primary text-sm">{number}</p>
</li>
