---
import MainLayout from '../layouts/MainLayout.astro'
import LinkButton from '../components/UI/LinkButton.astro'
---

<MainLayout title="Apios - Page not found" noFooter noHeader>
  <div class="text-center flex items-center justify-center min-h-screen">
    <div class="max-w-2xl mx-auto px-4">
      <h1 class="font-roboto font-bold text-5xl text-gray-800 mb-6">404</h1>
      <p class="text-lg text-gray-600 mb-8">
        Oops! The page you’re looking for can’t be found.
      </p>
      <LinkButton href="/" text="Go back to homepage" />
    </div>
  </div>
</MainLayout>
