---
import MainLayout from '../layouts/MainLayout.astro'
import PublicationItem from '../components/communication/PublicationItem.astro'
import { publications } from '../components/communication/Communication.astro'
---

<MainLayout title="Apios Æ==3 - Publications">
  <main class="pt-24 pb-16">
    <div class="max-w-3xl mx-auto px-4">
      <h1 class="font-roboto font-bold text-3xl mb-8">All Publications</h1>
      <ul class="space-y-8">
        {
          publications.map((publication) => (
            <PublicationItem {...publication} />
          ))
        }
      </ul>
    </div>
  </main>
</MainLayout>
