---
import { type ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  title: string;
  imageUrl: ImageMetadata;
  altText: string;
}

const { title, imageUrl, altText } = Astro.props
---
<div class="bg-white rounded-xl overflow-hidden shadow-lg hover:shadow-xl transition-all hover:-translate-y-1">
  <Image
    src={imageUrl}
    alt={altText}
    class="w-full h-48 object-cover"
  />
  <div class="p-4">
    <h3 class="font-roboto font-semibold text-lg">{title}</h3>
  </div>
</div>