---

---

<section
  class="pt-24 pb-16 sm:pt-32 sm:pb-20 bg-gradient-to-br from-primary/20 to-primary/10 overflow-hidden"
>
  <div class="max-w-7xl mx-auto px-4">
    <div class="text-center">
      <h1
        class="font-roboto font-bold text-3xl sm:text-5xl md:text-6xl mb-4 sm:mb-6"
      >
        3D Bioactive Implant for <span class="text-primary"
          >Bone Self-Repair</span
        >
      </h1>
      <p class="text-lg sm:text-xl max-w-2xl mx-auto mb-6 sm:mb-8">
        Transforming the future of bone healing with innovative solutions.
      </p>
    </div>
  </div>
</section>
