---
import { Image } from 'astro:assets'
import SectionTitleLayout from '../layouts/SectionTitleLayout.astro'
import cnrsLogo from '../assets/partners/cnrs-logo.png'
import fondationRechercheLogo from '../assets/partners/fondation-recherche-medicale-logo.jpg'
import grenobleInpLogo from '../assets/partners/grenoble-inp-logo.png'
import grenobleInpEntrepriseLogo from '../assets/partners/grenoble-inp-entreprise-logo.png'
import gueulesCasseesLogo from '../assets/partners/gueules-cassees-logo.png'
import medicalpsLogo from '../assets/partners/medicalps-logo.png'

const partners = [
  { name: 'CNRS', logo: cnrsLogo, url: 'https://www.cnrsinnovation.com/' },
  {
    name: 'Fondation Recherche Medicale',
    logo: fondationRechercheLogo,
    url: 'https://www.frm.org/fr'
  },
  {
    name: 'Grenoble INP',
    logo: grenobleInpLogo,
    url: 'https://www.grenoble-inp.fr/'
  },
  {
    name: 'Grenoble INP Entreprise',
    logo: grenobleInpEntrepriseLogo,
    url: 'https://entreprise.grenoble-inp.fr/'
  },
  {
    name: 'Gueules cassées',
    logo: gueulesCasseesLogo,
    url: 'https://www.gueules-cassees.asso.fr/'
  },
  { name: 'Medicalps', logo: medicalpsLogo, url: 'https://www.medicalps.eu/' }
]
---

<section class="py-16 sm:py-20">
  <div class="max-w-7xl mx-auto px-4">
    <SectionTitleLayout title="Our Partners" />
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8 items-center"
    >
      {
        partners.map((partner) => (
          <div class="flex items-center justify-center p-4">
            <a href={partner.url} target="_blank" rel="noreferrer">
              <Image
                src={partner.logo}
                alt={`${partner.name} logo`}
                class="max-h-16 sm:max-h-20 w-auto"
              />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
