---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Innovative bone repair technology" />
    <meta name="viewport" content="width=device-width" />

    <!--TODO add an environnement variable to hide the site on dev.apios-bone.fr-->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="apple-mobile-web-app-title" content="APIOS" />
    <meta name="theme-color" content="#4db874">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-open-sans text-gray-800">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  *:focus-visible {
    outline-color: theme('colors.primary');
  }
</style>
